<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>deepstream.io | {{title}}</title>

	{{viewport}}

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="deepstream, deepstream.io, streaming, realtime, server, socket" />
	<meta name="description" content="{{description}}" />
	<meta name="author" content="Wolfram Hempel" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/navigation.css'}}" />
	<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/screen.css'}}" />
	{{#if isDocs }}
	<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/api.css'}}" />
	<link rel="stylesheet" type="text/css" href="{{link 'asset' 'css/syntaxhighlighter.css'}}" />
	{{/if}}
	<script type="text/javascript">
	document.createElement( 'header' );
	document.createElement( 'nav' );
	</script>
	<script type="text/javascript" src="{{link 'asset' 'js/jquery.js'}}"></script>
	<script type="text/javascript" src="{{link 'asset' 'js/menu.js'}}"></script>

	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body class="category_{{category}} {{#unless isNotStart}}start-page{{/unless}}">
	<div class="mobile-menu">
		<div class="nav mobile-nav">
			{{> mainnav}}
		</div>
	</div>

	<div id="outer-wrapper">
		<div id="header" {{#if isNotStart}}class="compact-header"{{/if}}>
			<div class="header-tiny-logo">
				<h1><a href="{{link 'page' ''}}">deepstream.io - a scalable server for realtime web apps</a></h1>
			</div>
			<div class="nav desktop-nav">
				{{> mainnav}}
			</div>
			<span class="menu-button menu-icon">
				<i class="fa fa-bars"></i>
			</span>
		</div>
		{{#if hasNav}}
		<div id="wrapper" class="main">
			{{nav}}
			<div id="content">
				{{pageContent}}
			</div>
		</div>
		<script type="text/javascript" src="{{link 'asset' 'js/docs.js'}}"></script>
		{{else}}
			{{#if isBlogEntry}}
			{{> blogentry}}
			{{else}}
			<div class="content main">
				{{pageContent}}
			</div>
			{{/if}}
		{{/if}}
	</div>
	<div id="footer">
		<ul class="footer-items">

			<li class="footer-right">
				<ul class="social">
					<li class="twitter">
						<a href="https://twitter.com/deepstreamIO">
							<i class="fa fa-twitter"></i>  Twitter
						</a>
					</li>
					<li class="github">
						<a href="https://github.com/hoxton-one">
							<i class="fa fa-github"></i>  Github
						</a>
					</li>
					<li class="stack-overflow">
						<a href="http://stackoverflow.com/questions/tagged/deepstream.io">
							<i class="fa fa-stack-overflow"></i>  Stack Overflow
						</a>
					</li>
					<li>
						<a href="https://deepstream-slack.herokuapp.com/">
							<i class="fa fa-slack"></i>  Slack
						</a>
					</li>
				</ul>
			</li>

			<li class="footer-middle">
				<a class="footer-middle" href="http://www.hoxton-one.com/" title="hoxton-one.com">
					<p>
					Handcrafted by
					</p>

					<div class="footer-hoxton-one">
					</div>

					<div class="copyright">
						&copy;2015 Hoxton One Ltd. All rights reserved.
					</div>
				</a>
			</li>

			<li class="footer-left">
				<h4>Contact us</h4>
				<p>
					<b>deepstream.io </b>is developed by Hoxton One Ltd. <br>
				</p>
				<p>
					Email us <a href="mailto:info@hoxton-one.com">info@hoxton-one.com</a>.<br><br>
				</p>

				<h4>Star this project on github!</h4>
				<p>
					{{githubstar}}
				</p>
			</li>

		</ul>
	</div>


	{{#if isDef}}
		{{!--<script src="//localhost:5051/livereload.js"></script>--}}
	{{else}}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63583386-1', 'auto');
		ga('send', 'pageview');
	</script>
	{{/if}}
	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
