<link rel="stylesheet" type="text/css" href="../assets/css/downloads.css" />
<div id="downloads">
	<ul>
		{{downloadItem "server" "deepstream.io"}}
		{{downloadItem "client" "deepstream.io-client-js" true}}
	</ul>

	<h2>Cache Connectors</h2>
	<p>Cache connectors enable deepstream to store data in a distributed cache for horizontal scalability and fast read- and write access</p>
	<ul>
		{{downloadItem "redis cache connector" "deepstream.io-cache-redis"}}
		{{downloadItem "memcached cache connector" "deepstream.io-cache-memcached"}}
	</ul>

	<h2>Storage Connectors</h2>
	<p>Storage connectors enable deepstream to store data in a database. This allows to use the database's query capabilities and to persist data when deepstream is used with an in-memory only cache like Memcached. Storing data in a database happens outside of the critical path and doesn't affect update performance.</p>
	<ul>
		{{downloadItem "rethinkdb storage connector" "deepstream.io-storage-rethinkdb"}}
		{{downloadItem "mongoDb storage connector" "deepstream.io-storage-mongodb"}}
	</ul>

	<h2>Message Connectors</h2>
	<p>Message connectors enable multiple deepstream nodes to connect to the same message bus and to distribute updates amongst each other, allowing for horizontal scalability</p>
	<ul>
		{{downloadItem "direct message connector" "deepstream.io-msg-direct"}}
		{{downloadItem "amqp message connector" "deepstream.io-msg-amqp"}}
		{{downloadItem "redis message connector" "deepstream.io-msg-redis"}}
	</ul>

	<h2>Other</h2>
	<ul>
		{{downloadItem "KnockoutJs tools" "deepstream.io-tools-ko"}}
		{{downloadItem "rethinkdb search provider" "deepstream.io-provider-search-rethinkdb"}}
	</ul>
</div>
<script type="text/javascript" src="../assets/js/downloads.js"></script>